body{
  background-color:aqua;
   font-family: 'Open Sans', sans-serif;

}

h1{
  display: flex;
  flex-direction:row;
}

.header {
  display: flex;
  flex-direction: row;
}
 
 .sidebar{
   float: left;
   width: 9em;
   padding: 3px 1.5em 10px 1.3em;
  position:absolute;
 }

 .mainsection{
   margin: 0 0 0 11em;
  
 }

 .article{
   padding: 1.25em 1.5em 1.5em 1.53m;
   border-left:1px solid black;
   line-height:1.6;
   font-size:1.0em;
   cursor: wait;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding-left: 12px;
 }

 .mainsectionimage{
   border: 1px solid #c8ccd1;
   padding: 3px;
   float: right;
   background-color: #f8f9fa;
   font-size: 95%;
   overflow: hidden;
   line-height: 0.1em;
   margin: 0 0 5px 15px;
   text-align: left;
 }

 .etyandusgimg{
   border: 1px solid #c8ccd1;
   padding: 3px;
   float: right;
   background-color: #f8f9fa;
   font-size: 95%;
   overflow: hidden;
   line-height: 0.1em;
   margin: 0 0 5px 15px;
   text-align: left;
 }

.mainsection1{
   margin: 0 0 0 11em;
  height:650px;
  
 }

 .etyandusgimg1{
   border: 1px solid #c8ccd1;
   padding: 3px;
   float: right;
   background-color: #f8f9fa;
   font-size: 95%;
   overflow: hidden;
   line-height: 0.1em;
   margin: 0 0 5px 15px;
   text-align: left;
 }

.article1{
   padding: 1.25em 1.5em 1.5em 1.53m;
   border-left:1px solid black;
   line-height:1.6;
   font-size:1.0em;
   cursor: wait;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   height: 700px;
   padding-left: 12px;
   
 }

 .article0{
   padding: 1.25em 1.5em 1.5em 1.53m;
   border-left:1px solid black;
   line-height:1.6;
   font-size:1.0em;
   cursor: wait;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   height: 500px;
   padding-left: 12px;
   
 }

